.drinks-menu {
  padding: 20px;
  text-align: center; 
}

.drinks-menu h2 {
  margin-bottom: 20px;
}

.drink-item {
  margin-bottom: 20px;
  display: inline-block; 
  text-align: left; 
  width: 200px; 
  vertical-align: top; 
}

.drink-item h3 {
  color: #333;
  margin-top: 10px; 
}

.drink-item p {
  color: #555;
}

.drink-image {
  max-width: 100%;
  height: auto;
  display: block; 
  margin-bottom: 10px;
}


